<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Compte Etudiant</title>
    <link rel="stylesheet" href="{% static 'gestion/css/bootstrap.css' %}">
</head>
<body>
    <div class="container mt-5 ">
        <h2 class="alert alert-danger">GESTION DE CREATION DE COMPTE ETUDIANT</h2>
        {% block content%} {% endblock content%}
    </div>
    <script src="{% static 'gestion/js/jquery.js' %}"></script>
    <script src="{% static 'gestion/js/bootstrap.js' %}"></script>
    <script src="{% static 'gestion/js/popper.js' %}"></script>
    

</body>
</html>